<h6> Author :  <%= comment.commenter %></h6>
<%= comment.body %> <br /> <br />
<% if current_user and current_user.fullname == comment.commenter %>
	<%= link_to 'Delete', [comment.article, comment],
	method: :delete,
	data: {confirm: 'Are you sure?'},
	class: 'badge badge-danger float-right' %>
<% end %>    

