
<h5 class="mt-0">Comments</h5>
<h6><%= comment.commenter %></h6>
<%= comment.body %> <br />
<% if user_signed_in? %>
	<%= link_to 'Delete', [comment.article, comment],
	method: :delete,
	data: {confirm: 'Are you sure?'},
	class: 'badge badge-danger float-left' %>
<% end %>    

